APP_NAME=PassE
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=postgres-db
DB_PORT=5432
DB_DATABASE=passe_db
DB_USERNAME=admin
DB_PASSWORD=admin123

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file
QUEUE_CONNECTION=sync
